html {
  height: 100%;
}

body {
  background-color: wheat;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 12vw auto 10vh;
  grid-template-columns: 100%;
  grid-auto-flow: column;
}

body header {
  grid-row: 1/3;
  grid-column: 1/1;
  background-color: aquamarine;
  width: 100%;
  position: fixed;
  height: 12vw;
  /* prismでコードを表示するときのためにz-indexを指定 */
  z-index: 10;
}

body main {
  grid-row: 2/3;
  grid-column: 1/1;
  background-color: violet;
  width: 90%;
  margin: auto;
  height: 100%;
}

body footer {
  grid-row: 3/3;
  grid-column: 1/1;
  background-color: tan;
  bottom: 0;
  height: 10vh;
}