html,
body {
  height: 100vh;
  height: calc( var(--vh, 1vh) * 100);
  overflow: hidden;
}

header,
header nav {
  background-color: rgba(255, 255, 255, 0);
}

#main-back {
  height: 100%;
  display: grid;
}

#open-modal,
#modal {
  display: none;
}

#open-modal:checked~#modal {
  display: block;
  height: min(68vh, 80vw);
  width: min(68vh, 80vw);
  margin: auto;
  background-color: white;
  border: 10px double black;
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  z-index: 10;
}

#open-modal:checked~#moby-dick {
  display: none;
}

#modal-content {
  height: fit-content;
}

.click-area {
  background-color: black;
  width: fit-content;
  margin: auto;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#main-content01,
#main-content02,
#main-content03,
#main-content04,
#main-content05 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

#main-content01 {
  background-image: radial-gradient(black 55%, transparent 55%), radial-gradient(black 55%, transparent 55%);
  clip-path: polygon(95% 50%, 100% 80%, 100% 100%, 85% 100%);
}

#main-content02 {
  background-image: radial-gradient(black 30%, transparent 30%), radial-gradient(black 30%, transparent 30%);
  clip-path: polygon(0% 0%, 25% 0%, 0% 20%);
}

#main-content03 {
  background-image: radial-gradient(black 20%, transparent 20%), radial-gradient(black 20%, transparent 20%);
  clip-path: polygon(50% 0%, 90% 0%, 70% 60%, 100% 10%, 100% 65%, 65% 40%);
}

#main-content04 {
  background-image: radial-gradient(black 40%, transparent 40%), radial-gradient(black 40%, transparent 40%);
  clip-path: polygon(100% 0%, 100% 45%, 95% 60%, 90% 20%);
}

#main-content05 {
  background-image: radial-gradient(black 20%, transparent 20%), radial-gradient(black 20%, transparent 20%);
  clip-path: polygon(0% 0%, 15% 0%, 0% 30%);
}

#moby-dick {
  position: fixed;
  top: max(40vh, 10vw);
  right: -10vw;
  width: min(105vw, 120vh);
  max-height: 70vmin;
}