/*  ページ全体の構成・配置は、ほぼこれのみで設定(style.cssのheaderやfooterは、ほぼ無視)
    めっちゃ冗長なコードだけれど、こうじゃないとパニくる */


/* 
  かわいい等幅フォント
  (フォントによっては、->が→になってしまう...)
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

html {
  padding-bottom: 0vh;
  height: 100vh;
}

body {
  height: 100%;
  grid-template-rows: 12vw auto;
}

header,
header nav {
  grid-row: 1 /2;
}

main {
  grid-row: 2/2;

  padding-bottom: 0%;
  height: 100%;
}

h2 {
  display: block;
  padding-top: 6vh;
  margin-top: -6vh;
  content: "";
}

@media screen and (min-width:450px) {
  body {
    grid-template-rows: 62px auto;
  }

  header,
  header nav {
    height: 62px;
  }
}

header {
  padding: 0vw;
  height: 6vh;
}

.header-logo-menu {
  height: 6vh;
  margin: 0% auto 0%;
}

.logo-area {
  height: 6vh;
}


/**********************************************/


/* Contents Menuのジャケの部分 */

.nav-content-text div {
  font-family: 'Kanit', sans-serif;
  line-height: 1rem;
}

.label-input {
  display: block;
}

form label span,
#downloadHtml,
#downloadMd,
.label-input label {
  background-color: white;
  display: table-cell;
  border: 2px solid black;
  line-height: 1em;
}

.label-input input {
  display: none;
}

input:checked~label {
  background-color: var(--type1-main-color);
}


/*************************************************/


/* flexの大枠 */

.contents3 {
  display: flex;
  flex-direction: row;
}


/* flexの1個め : #button-area */

#button-area {
  flex: 2;
  display: inline-block;
  /* padding-top: 0.5rem; */
}

.button-exp {
  display: block;
  width: 2.5rem;
}

#button-area .button-code button,
#button-area .button-pre button {
  color: black;
  font-weight: bold;
  border-radius: 0;
  background-color: white;
}

#button-area .button-code button {
  border: 2px solid black;
}

#button-area .button-pre button {
  border: 2px solid var(--type1-main-color);
}

#button-area .button-code button:hover,
#button-area .button-pre button:hover {
  cursor: pointer;
}


/* flexの2個め : #txtarea-md */

#txtarea-md {
  flex: 5;
  vertical-align: top;
  text-align: center;
}

#txtarea-md .label-txtarea {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 0.5em;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  text-align: center;
  background-color: black;
}

.txtarea-md-wrap {
  height: 85vh;
}

#txtarea-md .txtarea-md-wrap textarea {
  width: 95%;
  height: 100%;
  font-family: 'Fira Mono', monospace;
  box-sizing: border-box;
}


/*  flexの3個め : #wrap-tab */

#wrap-tab {
  flex: 5;
  vertical-align: top;
  text-align: center;
}

#wrap-tab .list-tab {
  display: inline-flex;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

#wrap-tab .list-tab>li {
  display: block;
  padding: 0.5em 0.5em;
  margin: 0 2px;
  width: 95%;
  color: #fff;
  text-align: center;
  background: #ccc;
  box-sizing: border-box;
  cursor: pointer;
}

#wrap-tab .list-tab .active {
  background: black;
}

#wrap-tab .wrap-tab-content .tab-content .txtarea-html,
#wrap-tab .wrap-tab-content .tab-content .txtarea-complete {
  display: block;
  width: 100%;
  height: 100%;
}

#wrap-tab .wrap-tab-content .tab-content .txtarea-html textarea,
#wrap-tab .wrap-tab-content .tab-content .txtarea-complete textarea {
  width: 95%;
  height: 100%;
  font-family: 'Fira Mono', monospace;
  box-sizing: border-box;
}

#outHTML-show {
  display: block;
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-align: initial;
  width: 95%;
  height: 100%;
  overflow-y: auto;
}

#outHTML-show pre,
#outHTML-show pre code {
  max-width: 35vw;
  /* 横のスクロールバーを上手く付けられない。横幅の最大値は vw じゃなくて % で表したいのに... */
  /* gridレイアウトを使うべきか */
  white-space: pre;
  overflow-x: auto;
}

#outHTML-show code {
  white-space: pre-wrap;
}

.tab-content {
  display: none;
  height: 100%;
}

.tab-content.active {
  display: block;
  height: 85vh;
}

@media screen and (max-width:800px) {
  .contents3 {
    flex-direction: column;
  }

  #button-area {
    flex: 1;
    margin-bottom: 1em;
  }

  .label-input {
    display: inline-block;
  }

  .button-exp {
    display: inline-block;
  }

  #txtarea-md {
    flex: 1;
    margin-bottom: 1em;
  }

  .txtarea-md-wrap {
    height: 25vh;
  }

  #txtarea-md .txtarea-md-wrap textarea {
    width: 100%;
  }

  #wrap-tab {
    flex: 1;
  }

  .tab-content.active {
    height: 25vh;
  }

  #outHTML-show pre,
  #outHTML-show pre code {
    max-width: 100%;
    white-space: pre;
    overflow-x: auto;
  }

  #wrap-tab .wrap-tab-content .tab-content .txtarea-html textarea,
  #wrap-tab .wrap-tab-content .tab-content .txtarea-complete textarea {
    width: 100%;
  }
}

form,
#downloadHtml,
#downloadMd {
  display: inline-block;
}

#upMd {
  display: none;
}