/*****************************************************
* * * * * * * * * * * * * * * * * * * * * * * * * * *
  style.css  
  以下のcssを結合した

  @header.css
  @inline-deco.css
  (@をつけてページ内検索すれば飛べる)
* * * * * * * * * * * * * * * * * * * * * * * * * * *    
*****************************************************/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Teko:wght@600&display=swap');

:root {
  --type1-main-color: #f78e1e;
  --type1-base-color: #ffffff;
  /* 11aki2358上のリンク */
  --type1-link-color1: var(--type1-main-color);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 12vw auto 10vh;
  grid-template-columns: 100%;
  grid-auto-flow: column;
}

main {
  grid-row: 2/3;
  grid-column: 1/1;
  width: 90%;
  margin: auto;
  height: 100%;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
  中央寄せ
  text-align        : インライン要素(img, textareaとか)を中央に
  margin-left/right : ブロック要素を中央に
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
  ページ内リンクでの移動先。
  ヘッダーで隠れないように。
  https://www.softel.co.jp/blogs/tech/archives/6083 
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

h2 {
  display: block;
  padding-top: 12vw;
  margin-top: -12vw;
  content: "";
}

@media screen and (min-width:450px) {
  h2 {
    display: block;
    padding-top: 62px;
    margin-top: -62px;
    content: "";
  }
}


/*****************************************************
* * * * * * * * * * * * * * * * * * * * * * * * * * *
  @header.css
  <header></header>の中身
* * * * * * * * * * * * * * * * * * * * * * * * * * *    
*****************************************************/


/* z-index: 10;を付けないと、ヘッダーよりも上にprismコードが表示されてしまう */

header,
header nav {
  padding: 0vw;
  position: fixed;
  height: 12vw;
  background-color: var(--type1-base-color);
  z-index: 10;
  grid-row: 1 /3;
  grid-column: 1/1;
}

header {
  width: 100%;
}

header nav {
  width: 90%;
  margin: auto 5% auto;
}

header nav a {
  padding-left: 0;
  padding-right: 0;
}

.header-logo-menu {
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  text-align: center;
  height: 12vw;
  margin: 0% auto 0%;
}

.logo-area {
  text-align: left;
  padding-left: 0%;
  margin: 0% auto auto 0%;
  height: 12vw;
  background-color: var(--type1-base-color);
}


/*
  OPENボタンの大きさの微調整.
  使っているフォントに合わせて微調整
  font: TekoのSemi-bold 600
*/

#nav-drawer {
  position: relative;
  margin-right: 0vw;
  width: 16vw;
}

#nav-open {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 2vw auto auto auto;
  width: 16vw;
  height: 8vw;
  color: black;
  z-index: 100;
  background-image: url(../images/open.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#nav-open:hover {
  cursor: pointer;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
  checkbox(#nav-input)がtrueのときに
  コンテンツメニューを開く
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.nav-unshown {
  display: none;
}

#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--type1-base-color);
  opacity: 0;
  transition: .3s ease-in-out;
}


/*
チェックがついたら(OPENがクリックされたら)コンテンツメニューを表示させる
*/

#nav-input:checked~#nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked~#nav-content-record,
#nav-input:checked~#nav-content-jacket {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

#nav-input:checked~#nav-open {
  background-image: url(../images/back.svg);
  opacity: .5;
}


/*  コンテンツメニューの中身  */

#nav-content-record,
#nav-content-jacket {
  overflow: auto;
  position: fixed;
  z-index: 9999;
  width: 80vmin;
  height: 80vmin;
  background-size: 100%;
}

#nav-content-record {
  background-image: url(../images/record.svg);
  top: -22vmin;
  left: -22vmin;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

#nav-content-jacket {
  background-image: url(../images/jacket.svg);
  top: 15vmin;
  right: -10vmin;
  transition: .3s ease-in-out;
  text-transform: uppercase;
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
  font-size: 1.1em;
}

.nav-content-text {
  position: absolute;
  bottom: 10%;
  margin: auto;
  font-family: 'Kanit', sans-serif;
  transform: scale(1, 1.2);
  width: 75%;
  padding-left: 10%;
}

.nav-content-text a {
  color: black;
}

.nav-content-text p,
#nav-content-jacket .center-list span {
  font-family: 'Kanit', sans-serif;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
  レスポンシブ対応
  (幅450px以上の端末で見る場合)
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (min-width:450px) {
  body {
    grid-template-rows: 62px auto 10vh;
  }

  header,
  header nav {
    height: 62px;
  }

  .header-logo-menu {
    height: 62px;
  }

  .logo-area {
    height: 62px;
  }

  h1 {
    font-size: 38px;
  }

  #nav-drawer {
    width: 48px;
    height: 60px;
  }

  #nav-open {
    margin-top: 10px;
    width: 48px;
    height: 25px;
  }

  #nav-content-jacket {
    bottom: 8vmin;
    right: -10vmin;
  }
}


/*****************************************************
* * * * * * * * * * * * * * * * * * * * * * * * * * *
  @inline-deco.css
  インライン要素の文章の装飾
* * * * * * * * * * * * * * * * * * * * * * * * * * *    
*****************************************************/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
  リンクについて
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--type1-link-color1);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}


/* 
アニメーション
https://www.nxworld.net/15-text-link-hover-effect-and-design.html 
*/

main a,
.nav-content-text a {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, var(--type1-link-color1) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .25s;
}

a:hover {
  background-position: -100% 0;
  color: black;
}

a[target="_blank"]::after {
  content: "↗";
}

a[target="_blank"]:has(.banner)::after {
  content: "";
}

a[target="_blank"].code-file {
  color: black;
  background: linear-gradient(transparent 90%, var(--type1-main-color) 50%);
}

a[target="_blank"].code-file:hover {
  background: linear-gradient(transparent 90%, black 50%);
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
  文字の装飾
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

em {
  font-style: normal;
  text-decoration: underline var(--type1-main-color);
}

code {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
}

pre code {
  white-space: pre;
}

.font-thin {
  display: inline-block;
  transform: scale(1, 1.2);
  position: relative;
  z-index: -10;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

.naisho {
  opacity: 0.01;
}





.clap-form {
  padding: 0.5em 1em;
  margin: 1em 0;
  border-left: solid 6px black;
}




/* web拍手のセレクトボックス */
/* https://pote-chil.com/css-stock/ja/selectbox */

.select-box-clap {
  position: relative;
}

.select-box-clap::before,
.select-box-clap::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.select-box-clap::before {
  right: 0;
  display: inline-block;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0 25px 25px 0;
  background-color: black;
  content: '';
}

.select-box-clap::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
}

.select-box-clap select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em 3.6em .4em .8em;
  border: 2px solid black;
  border-radius: 25px;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.select-box-clap select:focus {
  outline: 1px solid black;
}

.textarea-clap {
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: white;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}


.submit-clap {
  background-color: var(--type1-main-color);
  padding: .5em 1.5em;
  /* border: none; */
  border: .2em solid var(--type1-main-color);
  box-shadow: none;
}

.submit-clap:hover {
  cursor: pointer;
  border: .2em solid black;
}