/* works-02 */

html,
body {
  height: 100vh;
  height: calc( var(--vh, 1vh) * 100);
  /* なぜかスクロールバーが表示されることがある */
  /* わずかしかスクロールしないから、コレで対応できるかな... */
  overflow: hidden;
}

main {
  /* background-color: yellowgreen; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  height: 98%;
  height: calc(( var(--vh, 1vh) * 90 - 12vw) * 0.98);
}

@media screen and (min-width:450px) {
  main {
    height: calc( (var(--vh, 1vh) * 90 - 62px) * 0.98);
  }
}


/* main下のgrid 1個め */

#contents-select {
  display: block;
  /* background-color: bisque; */
  grid-area: 1/1/2/1;
  padding-bottom: 0.5rem;
  /* box-sizing: border-box; */
}

#contents-select #select-hide:checked~#checkbox-area {
  display: none;
}

#contents-select .content-select-title {
  display: block;
  font-weight: bold;
}

#contents-select #checkbox-area {
  flex: auto;
  margin: 0 2.5%;
}

#contents-select #checkbox-area .input-area {
  display: block;
}

#contents-select #checkbox-area .input-area .select-area-name {
  display: block;
  margin: 0.1rem;
}

#contents-select #checkbox-area .input-area .label-input {
  display: inline-block;
  margin: 0.4rem 0;
}

#contents-select #checkbox-area #button-select {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto 0.5rem auto;
  padding: .2rem;
  width: 60%;
}

input[type=checkbox] {
  display: none;
}

.checkbox-label {
  padding: 0.2rem;
  border: 2px solid var(--type1-main-color);
}

.checkbox-label:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked+.checkbox-label {
  background-color: var(--type1-main-color);
}

#contents-select #checkbox-area #button-select:hover {
  cursor: pointer;
}


/* main下のgrid 2個め */


/* 以下、gridで配置 */

#content-box {
  grid-area: 2/1/2/1;
  display: grid;
  grid-template-rows: 65% 35%;
  grid-template-columns: 60% 40%;
  height: 100%;
  overflow-y: hidden;
}


/* #content-box :    grid 1個め */

#content-display {
  display: none;
  background-color: powderblue;
  margin: 0;
  box-sizing: border-box;
}


/* #content-box :    grid 2個め */

#content-list {
  grid-area: 1/1/3/3;
  overflow-y: auto;
  background-color: skyblue;
  box-sizing: border-box;
  border: 2px solid black;
}

#content-list #content-ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content-list #content-ul li {
  padding: 0.7rem;
  display: block;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

.focus {
  background-color: var(--type1-main-color);
}