/* works-04 */

html,
body {
  height: 100vh;
  height: calc( var(--vh, 1vh) * 100);
  /* なぜかスクロールバーが表示されることがある */
  /* わずかしかスクロールしないから、コレで対応できるかな... */
  overflow: hidden;
}

main {
  /* background-color: yellowgreen; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  height: 98%;
  height: calc(( var(--vh, 1vh) * 90 - 12vw) * 0.98);
}

@media screen and (min-width:450px) {
  main {
    height: calc( (var(--vh, 1vh) * 90 - 62px) * 0.98);
  }
}


/* main下のgrid 1個め */

#contents-select {
  display: block;
  /* background-color: bisque; */
  grid-area: 1/1/2/1;
  padding-bottom: 0.5rem;
  /* box-sizing: border-box; */
}

#contents-select #select-hide:checked~#checkbox-area {
  display: none;
}

#contents-select .content-select-title {
  display: block;
  font-weight: bold;
}

#contents-select #checkbox-area {
  flex: auto;
  margin: 0 2.5%;
}

#contents-select #checkbox-area .input-area {
  display: block;
}

#contents-select #checkbox-area .input-area .select-area-name {
  display: block;
  margin: 0.1rem;
}

#contents-select #checkbox-area .input-area .label-input {
  display: inline-block;
  margin: 0.4rem 0;
}

#contents-select #checkbox-area #button-select {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto 0.5rem auto;
  padding: .2rem;
  width: 60%;
}

input[type=checkbox] {
  display: none;
}

.checkbox-label {
  padding: 0.2rem;
  border: 2px solid var(--type1-main-color);
}

.checkbox-label:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked+.checkbox-label {
  background-color: var(--type1-main-color);
}

#contents-select #checkbox-area #button-select:hover {
  cursor: pointer;
}


/* main下のgrid 2個め */


/* 以下、gridで配置 */

#content-box {
  grid-area: 2/1/2/1;
  display: grid;
  grid-template-rows: 65% 35%;
  grid-template-columns: 60% 40%;
  height: 100%;
  overflow-y: hidden;
}

#content-display,
#content-list {
  background-image: radial-gradient(black 20%, transparent 20%), radial-gradient(black 20%, transparent 20%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}


/* #content-box :    grid 1個め */

#content-display {
  /* background-color: black; */
  margin: 0;
  box-sizing: border-box;
  /* 中身はgrid */
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 3fr 2fr;
  grid-auto-flow: dense;
}


/* #content-box :    grid 2個め */

#content-list {
  grid-area: 1/1/3/3;
  overflow-y: auto;
  /* background-color: skyblue; */
  box-sizing: border-box;
  border: 2px solid black;
}

#content-list #content-ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

#content-list #content-ul li {
  padding: 0.7rem;
  display: block;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

.focus {
  background-color: var(--type1-main-color);
}


/* 
#content-displayの中身のgridレイアウト

よさげなグリッドを作れるプラグイン https://webdesign-trends.net/entry/1932

今回は、grid-auto-flow : dense を使いたい
https://learning.mihune-web.com/grid-auto-flow/
https://qiita.com/kura07/items/486c19045aab8090d6d9
*/

#content-display>* {
  padding: 0.2rem;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  grid-row: span 1;
  background-color: white;
}

#content-title {
  grid-column: span 2;
}

#content-image {
  grid-column: span 2;
  margin: auto;
}

#content-explain {
  grid-row: span 1;
  overflow-y: scroll;
}

#content-props {
  grid-row: span 1;
  overflow-y: scroll;
}